Basic Python

1. Split this string

In [1]:
s = "Hi I am Sarvesh!"

In [2]:
x=s.split()
x

['Hi', 'I', 'am', 'Sarvesh!']

2. Use .format() to print the following string.
Output should be: The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [6]:
s="The diameter of {} is {} kilometers.".format(planet,diameter)
print(s)

The diameter of Earth is 12742 kilometers.

3. In this nest dictionary grab the word "hello"

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d['k1'][3]['tricky'][3]['target'][3]
'hello'

'hello'

Numpy

In [9]:
import numpy as np

4.1 Create an array of 10 zeros?

4.2 Create an array of 10 fives?

In [10]:
a=np.zeros(10)
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [11]:
b=np.ones(10)*5
print(b)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

5. Create an array of all the even integers from 20 to 35

In [12]:
a=np.arange(20,35,2)
print(a)

[20 22 24 26 28 30 32 34]

6. Create a 3x3 matrix with values ranging from 0 to 8

In [13]:
a=np.arange(0,9).reshape(3,3)
print(a)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

7. Concatinate a and b


a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [14]:
a=np.array([1,2,3])
b=np.array([4,5,6])
x=np.concatenate((a,b),axis=None)
print(x)

[1 2 3 4 5 6]

Pandas

8. Create a dataframe with 3 rows and 2 columns

In [15]:
import pandas as pd

In [16]:
import pandas as pd
data={'Name':['Range Varshini R','Sabari Vasan R T','Tamilselvi Kumaresan'],'Age':['20','18','52']}
a=pd.DataFrame(data)
print(a)

                   Name Age
0      Range Varshini R  20
1      Sabari Vasan R T  18
2  Tamilselvi Kumaresan  52

9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [17]:
import datetime
import pandas as pd
test=datetime.datetime.strptime("01/01/2023","%d/%m/%Y")
k=41
dg=pd.date_range(test,periods=k)
print(dg.strftime("%d/%m/%Y"))

Index(['01/01/2023', '02/01/2023', '03/01/2023', '04/01/2023', '05/01/2023',
       '06/01/2023', '07/01/2023', '08/01/2023', '09/01/2023', '10/01/2023',
       '11/01/2023', '12/01/2023', '13/01/2023', '14/01/2023', '15/01/2023',
       '16/01/2023', '17/01/2023', '18/01/2023', '19/01/2023', '20/01/2023',
       '21/01/2023', '22/01/2023', '23/01/2023', '24/01/2023', '25/01/2023',
       '26/01/2023', '27/01/2023', '28/01/2023', '29/01/2023', '30/01/2023',
       '31/01/2023', '01/02/2023', '02/02/2023', '03/02/2023', '04/02/2023',
       '05/02/2023', '06/02/2023', '07/02/2023', '08/02/2023', '09/02/2023',
       '10/02/2023'],
      dtype='object')

10. Create 2D list to DataFrame

In [18]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [19]:
a=pd.DataFrame(lists,columns=['No','Letter','Numbers'])
print(a)

   No Letter  Numbers
0   1    aaa       22
1   2    bbb       25
2   3    ccc       24